@import 'tailwindcss';

@theme {
  --font-family: 'Roboto', sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
  --main-color: #e1003c;
  --default-notification-item: blue;
  --urgent-notification-item: red;
}

@layer base {
  body {
    @apply font-family;
  }
}