.notifications-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.notification-title {
  font-weight: bold;
}

.notification-items {
  position: relative;
  border: 2px dashed #e1003c;
  padding: 20px;
  margin-bottom: 20px;
}

.notification-items p {
  margin: 0 0 10px 0;
  font-size: 1rem;
}

.notification-items p.no-notification-message {
  margin: 0;
  text-align: center;
}

.notification-items ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 10px 0 0 0;
}

.notification-items li {
  margin: 5px 0;
}

.notification-items li[data-priority="default"] {
  color: blue;
}

.notification-items li[data-priority="urgent"] {
  color: red;
}
