.App-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid #e1003c;
}

.App-header img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.App-header h1 {
  color: #e1003c;
  font-size: 2rem;
}
